* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}


.comments,
.Form,
.UserProfile {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}